body, html {
	height:100%;
	margin: 0;
}

.background {
	background-image:url('images/fourthkim.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height:100%;
}

#quote {
	font-family: 'Merriweather', serif;
	font-weight:900;
	text-align:center;
	color:#ffffff;
}

a {
	display:block;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

/* LARGEST */

@media screen and (min-width: 1024px) {
	#quote {
		position:absolute;
		left:75px;
		bottom:75px;
		width:600px;
		font-size:40px;
	}
}

/* MIDDLE */

@media screen and (max-width: 768px) and (min-width: 585px) {
	 #quote {
		position:absolute;
		left:40px;
		bottom:40px;
		width:400px;
		font-size:25px;
		}
}

/* SMALLEST */

@media screen and (max-width: 585px) {
	 #quote {
		position:absolute;
		left:40px;
		bottom:40px;
		width:300px;
		font-size:25px;
		}
	.background {
		background-image:url('images/fifthkim.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height:100%;
	}
}

/* LARGER */

@media screen and (max-width: 1024px) and (min-width: 768px) {
	#quote {
		position:absolute;
		left:55px;
		bottom:55px;
		width:450px;
		font-size:30px;
	}