	html{
		font-family:tahoma;
		size:10px;
		color:#999999;
		}
	body{
		margin-left:15%;
		margin-right:15%;
	}
	h1{
		size:20px;
		color:#33C4FF;
		}
	h2{
		size:15px;
		color:#999999;
	}
	strong{
		color:red;
		}
	#movie-title{
		color:yellow;
		font-weight:bold;
		}
	#navigation{
		}
	.nav-link{
		}